# Predicting the chance of startup success

## Credits to..

Most of the scripts here is directly from this kaggle notebook [Random Forrest and Logistic Regression, AUC: 81,4](https://www.kaggle.com/code/nikolajtrampedach/random-forrest-and-logistic-regression-auc-81-4) by [Nikolaj Trampedach](https://www.kaggle.com/nikolajtrampedach)

## Data cleaning steps

* convert to `pd.datetime`
* calculating `age_first_funding` and `age_last_funding`
* drop columns: `url` `permalink` etc
* drop rows with na values
* only include startups founded after 1995

## Import of data and relevant libaries

In [70]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import seaborn as sns
import graphviz
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import preprocessing
from sklearn.feature_selection import VarianceThreshold,RFECV
from sklearn.inspection import permutation_importance
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict,RepeatedStratifiedKFold,StratifiedKFold
from imblearn.over_sampling import SMOTE

startup_df = pd.read_csv("investments_VC.csv", delimiter=',', header = 0, encoding = "ISO-8859-1",skipinitialspace=True)
startup_df = startup_df.rename(columns={'market ': 'market', 'funding_total_usd ': 'funding_total_usd'})

In [71]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54294 entries, 0 to 54293
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4   market                45470 non-null  object
 5   funding_total_usd     49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  float64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  float64
 19  venture               49438 non-null  float64
 20  equity_crowdfunding   49438 non-null  float64
 21  undisclosed           49438 non-null  float64
 22  convertible_note      49438 non-null  float64
 23  debt_financing        49438 non-null  float64
 24  angel                 49438 non-null  float64
 25  grant                 49438 non-null  float64
 26  private_equity        49438 non-null  float64
 27  post_ipo_equity       49438 non-null  float64
 28  post_ipo_debt         49438 non-null  float64
 29  secondary_market      49438 non-null  float64
 30  product_crowdfunding  49438 non-null  float64
 31  round_A               49438 non-null  float64
 32  round_B               49438 non-null  float64
 33  round_C               49438 non-null  float64
 34  round_D               49438 non-null  float64
 35  round_E               49438 non-null  float64
 36  round_F               49438 non-null  float64
 37  round_G               49438 non-null  float64
 38  round_H               49438 non-null  float64
dtypes: float64(23), object(16)
memory usage: 16.2+ MB

In [72]:
#Based on the .info() function, we can identify that some data variables need to be converted into a date type.
format_date = ('founded_at','first_funding_at','last_funding_at')
for i in format_date:
  startup_df[i] = pd.to_datetime(startup_df[i], format = '%Y-%m-%d', errors = 'coerce')

In [73]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54294 entries, 0 to 54293
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4   market                45470 non-null  object
 5   funding_total_usd     49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  float64
 12  founded_at            38553 non-null  datetime64[ns]
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49428 non-null  datetime64[ns]
 17  last_funding_at       49432 non-null  datetime64[ns]
 18  seed                  49438 non-null  float64
 19  venture               49438 non-null  float64
 20  equity_crowdfunding   49438 non-null  float64
 21  undisclosed           49438 non-null  float64
 22  convertible_note      49438 non-null  float64
 23  debt_financing        49438 non-null  float64
 24  angel                 49438 non-null  float64
 25  grant                 49438 non-null  float64
 26  private_equity        49438 non-null  float64
 27  post_ipo_equity       49438 non-null  float64
 28  post_ipo_debt         49438 non-null  float64
 29  secondary_market      49438 non-null  float64
 30  product_crowdfunding  49438 non-null  float64
 31  round_A               49438 non-null  float64
 32  round_B               49438 non-null  float64
 33  round_C               49438 non-null  float64
 34  round_D               49438 non-null  float64
 35  round_E               49438 non-null  float64
 36  round_F               49438 non-null  float64
 37  round_G               49438 non-null  float64
 38  round_H               49438 non-null  float64
dtypes: datetime64[ns](3), float64(23), object(13)
memory usage: 16.2+ MB

In [74]:
startup_df.describe()

,funding_rounds,founded_year,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,38482.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2007.359129,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,7.579203,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,1902.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,2006.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,2010.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2012.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,2014.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

## 2.Initial Data Preparation
Preparing for exploration

In [75]:
startup_df.head(1)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
#To reduce the complexity, while processing the date variable fields, we convert the actual dates to 
#relative dates, describing the distance from founded to first and last funding and then drop the founded date.

startup_df['age_first_funding'] = (startup_df['first_funding_at']-startup_df['founded_at'])/pd.Timedelta(days=365)
startup_df['age_last_funding'] = (startup_df['last_funding_at']-startup_df['founded_at'])/pd.Timedelta(days=365)
startup_df['founded_month'] = pd.DatetimeIndex(startup_df['founded_at']).month
startup_df['founded_quarter'] = pd.DatetimeIndex(startup_df['founded_at']).quarter

In [77]:
startup_df.isnull().sum()

permalink                4856
name                     4857
homepage_url             8305
category_list            8817
market                   8824
funding_total_usd        4856
status                   6170
country_code            10129
state_code              24133
region                  10129
city                    10972
funding_rounds           4856
founded_at              15741
founded_month           15741
founded_quarter         15741
founded_year            15812
first_funding_at         4866
last_funding_at          4862
seed                     4856
venture                  4856
equity_crowdfunding      4856
undisclosed              4856
convertible_note         4856
debt_financing           4856
angel                    4856
grant                    4856
private_equity           4856
post_ipo_equity          4856
post_ipo_debt            4856
secondary_market         4856
product_crowdfunding     4856
round_A                  4856
round_B                  4856
round_C                  4856
round_D                  4856
round_E                  4856
round_F                  4856
round_G                  4856
round_H                  4856
age_first_funding       15747
age_last_funding        15743
dtype: int64

In [78]:
#As the dataset contains quite many null-values, we try to reduce the amount null-values by
#deleting the rows with a few central variables containing null
startup_df = startup_df.drop(startup_df[
                                        (
                                        (startup_df['status'].isna())|
                                        (startup_df['founded_month'].isna())|
                                        (startup_df['founded_year'].isna())|
                                        (startup_df['market'].isna())|
                                        (startup_df['country_code'].isna())|
                                        (startup_df['funding_total_usd'].isna())|
                                        (startup_df['age_first_funding'].isna())|
                                        (startup_df['founded_year'].isna())|
                                        (startup_df['city'].isna())
                                        )
                                        ].index)
#With a general removal of all observations containing null-values, we have 28290 observations remaining
startup_df.shape

(32760, 41)

In [79]:
#Based on the cleaning above, we would now like to see, 
#how many observations for each column that contains null-values.

startup_df.isnull().sum()

permalink                  0
name                       0
homepage_url            1594
category_list              0
market                     0
funding_total_usd          0
status                     0
country_code               0
state_code              9544
region                     0
city                       0
funding_rounds             0
founded_at                 0
founded_month              0
founded_quarter            0
founded_year               0
first_funding_at           0
last_funding_at            0
seed                       0
venture                    0
equity_crowdfunding        0
undisclosed                0
convertible_note           0
debt_financing             0
angel                      0
grant                      0
private_equity             0
post_ipo_equity            0
post_ipo_debt              0
secondary_market           0
product_crowdfunding       0
round_A                    0
round_B                    0
round_C                    0
round_D                    0
round_E                    0
round_F                    0
round_G                    0
round_H                    0
age_first_funding          0
age_last_funding           0
dtype: int64

In [80]:
startup_df.city.value_counts()

San Francisco         2219
New York              1951
London                1022
Palo Alto              484
Austin                 461
                      ...
Hainesport               1
Tooele                   1
Talent                   1
Temple                   1
Gerasdorf Bei Wien       1
Name: city, Length: 3429, dtype: int64

In [81]:
#Excluding irrelevant variables, assumed cannot be used to predict the success of a start-up
#Funding_total_USD is excluded, as this is an aggregation of angel and seed

#We, however keep the name of the startup to correctly distinct between them the futher analysis
startup_df = startup_df.drop(
    [
     'permalink'
#     ,'name'
     ,'homepage_url'
     ,'state_code'
   #  ,'region'
  #   ,'city'
     ,'founded_at'
     ,'first_funding_at'
   #  ,'funding_total_usd'
     ,'last_funding_at'
     ,'category_list'
     ], axis = 1)

In [82]:
#Further, we can check that we do not have any duplicates in our dataset
startup_df = startup_df.drop_duplicates()
startup_df.shape

(32760, 34)

In [83]:
print('Before')
display(startup_df.groupby('status').agg({'country_code':'count'}).sort_values(by=['status'], ascending = False))
StatusDict = {"closed":0,"acquired":1}

startup_df = startup_df[(startup_df['status'] == 'acquired') | (startup_df['status'] == 'closed')]
startup_df["status_binary"] = startup_df["status"].map(StatusDict)
startup_df = startup_df.drop(['status'], axis = 1)

print('After')
display(startup_df.groupby('status_binary').agg({'country_code':'count'}).sort_values(by=['status_binary'], ascending = True))

Before

           country_code
status
operating         28311
closed             1702
acquired           2747

After

               country_code
status_binary
0                      1702
1                      2747

In [84]:
#Hence, the format of funding_total_USD is distorted, we are aggregating a new attribute 

startup_df['total_investment'] = startup_df['seed'] + startup_df['venture'] +startup_df['equity_crowdfunding'] + startup_df['undisclosed'] + startup_df['convertible_note'] + startup_df['debt_financing'] + startup_df['angel'] + startup_df['grant'] + startup_df['private_equity'] + startup_df['post_ipo_equity'] + startup_df['post_ipo_debt'] + startup_df['secondary_market'] + startup_df['product_crowdfunding']

startup_df['total_investment'].describe()

count    4.449000e+03
mean     1.658375e+07
std      9.896583e+07
min      0.000000e+00
25%      3.000000e+05
50%      3.370000e+06
75%      1.450000e+07
max      5.700000e+09
Name: total_investment, dtype: float64

In [85]:
max(startup_df['total_investment'])

5700000000.0

## 3. Data Preparation
Preparing for modelling

In [86]:
#Exporting data to .CSV in order to explore data in Tableau
#startup_df.to_csv(r'startup_df_v1.csv', index = False, sep=';',mode='w')
#files.download('startup_df_v1.csv')

In [87]:
startup_df.shape

(4449, 35)

### 3.1 Funding sum and rounds

In [88]:
#Removing outliers via IQR: Interquartile range, also called midspread.

Q1 = startup_df['total_investment'].quantile(0.25)
Q3 = startup_df['total_investment'].quantile(0.75)
IQR = Q3 - Q1

fund_lower = (Q1 - 1.5 * IQR)
fund_upper = (Q3 + 1.5 * IQR)

startup_df = startup_df[
                        (startup_df['total_investment'] >= fund_lower ) 
                        & (startup_df['total_investment'] <= fund_upper)
                        ]

print('The following code remove all datapoints below: {} and above {}'.format(fund_lower, fund_upper))
print('This results in the following data model: {}'.format(startup_df.shape))

The following code remove all datapoints below: -21000000.0 and above 35800000.0
This results in the following data model: (3986, 35)

### 3.2 Markets

In [89]:
top20_markets = startup_df['market'].value_counts()[:20].keys().tolist()
startup_df['market'] = startup_df['market'].apply(lambda i: i if i in top20_markets else 'Other')

### 3.3 Age when funded

In [90]:
#It looks like, some startups have recived funding prior to the date of establishment.

#startup_df['age_first_funding'] = startup_df['age_first_funding'].clip(lower=0, upper=None)
#startup_df['age_last_funding'] = startup_df['age_last_funding'].clip(lower=0, upper=None)


startup_df.loc[startup_df['age_first_funding'] < 0, 'age_first_funding'] = 0
startup_df.loc[startup_df['age_last_funding'] < 0, 'age_first_funding'] = 0

### 3.4 Age when founded

In [91]:
#The majority of the startups are located after 1994
#To further reduce the amount of outliers, we are excluding all startups before 1995.

startup_df = startup_df[(startup_df['founded_year'] >= 1995.0 )]

In [92]:
startup_df.columns

Index(['name', 'market', 'funding_total_usd', 'country_code', 'region', 'city',
       'funding_rounds', 'founded_month', 'founded_quarter', 'founded_year',
       'seed', 'venture', 'equity_crowdfunding', 'undisclosed',
       'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H',
       'age_first_funding', 'age_last_funding', 'status_binary',
       'total_investment'],
      dtype='object')

In [93]:
startup_df.to_csv('startup_df.csv', index=False)

# EDA

In [94]:
startup_df.market.value_counts()

Other                   1438
Software                 467
Curated Web              287
Mobile                   232
Enterprise Software      167
Games                    142
Advertising              142
E-Commerce               134
Social Media             119
Biotechnology            114
Hardware + Software       79
Security                  74
Finance                   65
Semiconductors            65
Web Hosting               56
Health Care               50
Messaging                 48
Search                    47
Analytics                 47
Clean Technology          42
Education                 36
Name: market, dtype: int64

In [96]:
startup_df.city.value_counts()

San Francisco    417
New York         280
Palo Alto        102
London           100
Seattle           91
                ...
Shumen             1
Miami Beach        1
Charleston         1
Duluth             1
College Park       1
Name: city, Length: 810, dtype: int64

In [100]:
startup_df.groupby(['status_binary','funding_rounds'])['name'].count()

status_binary  funding_rounds
0              1.0               1170
               2.0                301
               3.0                 77
               4.0                 37
               5.0                  8
               6.0                  4
               7.0                  4
               8.0                  3
1              1.0               1046
               2.0                630
               3.0                362
               4.0                129
               5.0                 43
               6.0                 27
               7.0                  6
               8.0                  2
               9.0                  1
               10.0                 1
Name: name, dtype: int64

In [101]:
startup_df.groupby(['status_binary','founded_year'])['name'].count()

status_binary  founded_year
0              1995.0            2
               1996.0            6
               1997.0            6
               1998.0           10
               1999.0           25
               2000.0           27
               2001.0           17
               2002.0           31
               2003.0           49
               2004.0           61
               2005.0           88
               2006.0          141
               2007.0          211
               2008.0          181
               2009.0          206
               2010.0          235
               2011.0          196
               2012.0           92
               2013.0           19
               2014.0            1
1              1995.0           24
               1996.0           28
               1997.0           53
               1998.0           57
               1999.0          130
               2000.0          135
               2001.0          100
               2002.0          101
               2003.0          102
               2004.0          114
               2005.0          159
               2006.0          192
               2007.0          213
               2008.0          173
               2009.0          187
               2010.0          190
               2011.0          174
               2012.0           94
               2013.0           21
Name: name, dtype: int64

In [103]:
startup_df.founded_year.describe()

count    3851.000000
mean     2006.351078
std         4.142129
min      1995.000000
25%      2004.000000
50%      2007.000000
75%      2010.000000
max      2014.000000
Name: founded_year, dtype: float64

In [102]:
startup_df.groupby(['status_binary','market'])['name'].count()

status_binary  market
0              Advertising              51
               Analytics                 7
               Biotechnology            54
               Clean Technology         23
               Curated Web             156
               E-Commerce               67
               Education                15
               Enterprise Software      33
               Finance                  25
               Games                    74
               Hardware + Software      35
               Health Care              21
               Messaging                20
               Mobile                  103
               Other                   611
               Search                   21
               Security                 15
               Semiconductors           21
               Social Media             70
               Software                165
               Web Hosting              17
1              Advertising              91
               Analytics                40
               Biotechnology            60
               Clean Technology         19
               Curated Web             131
               E-Commerce               67
               Education                21
               Enterprise Software     134
               Finance                  40
               Games                    68
               Hardware + Software      44
               Health Care              29
               Messaging                28
               Mobile                  129
               Other                   827
               Search                   26
               Security                 59
               Semiconductors           44
               Social Media             49
               Software                302
               Web Hosting              39
Name: name, dtype: int64